openapi: "3.0.3"

info:
  version: "1.0"
  title: "Individuals Employments Income (MTD)"
  description: |
    The following groups of endpoints are stateful in the Sandbox:
      * [Non-PAYE Employment Income](#tag/Non-PAYE-Employment-Income)
      * [Other Employment Income](#tag/Other-Employment-Income)
    
    The following endpoints are stateful in the Sandbox:
      * List Employments
      * Add a Custom Employment
      * Retrieve an Employment
      * Amend a Custom Employment
      * Delete a Custom Employment
      * Retrieve an Employment and its Financial Details
      * Create and Amend Employment Financial Details
      * Delete Employment Financial Details
  
  
    # Send fraud prevention data
    HMRC monitors transactions to help protect your customers' confidential data from criminals and fraudsters. 
    
    <div class="govuk-warning-text warning-icon-fix">
      <span class="govuk-warning-text__icon warning-icon-ui-fix" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You are required by law to submit header data for this API. This includes all associated APIs and endpoints.
      </strong>
    </div>
    
    [Check the data you need to send](/guides/fraud-prevention/). You can also use the [Test API](/api-documentation/docs/api/service/txm-fph-validator-api/1.0) during initial development and as part of your quality assurance checks.
    
    # Mapping APIs to Self Assessment tax return forms
    Some parameters in this API map to box numbers in one or more Self Assessment tax return forms. To learn more and to download this mapping information as a CSV file, go to [income-tax-mtd-changelog/mapping](https://github.com/hmrc/income-tax-mtd-changelog?tab=readme-ov-file#mapping-apis-to-self-assessment-tax-return-forms) on GitHub.

    # Changelog
    You can find the changelog in the [income-tax-mtd-changelog](https://github.com/hmrc/income-tax-mtd-changelog/#readme) on GitHub.
    
    # Support
    
    * Direct reports of bugs or errors in Production or Sandbox code, or queries about HMRC business functionality (such as how a specific field is used by HMRC or why it is needed) to the [Software Development Support Team (SDST)](https://developer.service.hmrc.gov.uk/developer/support).
    * Send queries or feedback related to the design of the APIs (including recommended changes) using the [income-tax-mtd-changelog](https://github.com/hmrc/income-tax-mtd-changelog/issues) GitHub page.
    * <a href="/contact/report-technical-problem?newTab=true&service=api-documentation-frontend" target="_blank">Is this page not working properly? (opens in new tab)</a>

servers:
  - url: https://test-api.service.hmrc.gov.uk
    description: Sandbox
  - url: https://api.service.hmrc.gov.uk
    description: Production

components:
  securitySchemes:
    User-Restricted:
      type: oauth2
      description: HMRC supports OAuth 2.0 for authenticating [User-restricted](https://developer.service.hmrc.gov.uk/api-documentation/docs/authorisation/user-restricted-endpoints) API requests
      flows:
        authorizationCode:
          authorizationUrl: https://api.service.hmrc.gov.uk/oauth/authorize
          tokenUrl: https://api.service.hmrc.gov.uk/oauth/token
          refreshUrl: https://api.service.hmrc.gov.uk/oauth/refresh
          scopes:
            write:self-assessment: Grant write access
            read:self-assessment: Grant read access

tags:
  - name: Employments
    description: Resources relating to an individual's employments (please note, an occupational pension is classed as employment income and is identified by the occupationalPension property)

  - name: Non-PAYE Employment Income
    description: These endpoints allow a user to create, amend, retrieve and delete Non-PAYE employment income and tips

  - name: Other Employment Income
    description: Resources relating to an individual's other employment income

paths:
  /individuals/employments-income/{nino}/{taxYear}:
    $ref: "./employments.yaml"
  /individuals/employments-income/{nino}/{taxYear}/{employmentId}:
    $ref: "./employments_id.yaml"
  /individuals/employments-income/{nino}/{taxYear}/{employmentId}/ignore:
    $ref: "./employments_ignore.yaml"
  /individuals/employments-income/{nino}/{taxYear}/{employmentId}/unignore:
    $ref: "./employments_unignore.yaml"
  /individuals/employments-income/{nino}/{taxYear}/{employmentId}/financial-details:
    $ref: "./employments_financial_details.yaml"
  /individuals/employments-income/non-paye/{nino}/{taxYear}:
    $ref: "./employments_non_paye.yaml"
  /individuals/employments-income/other/{nino}/{taxYear}:
    $ref: "./employments_other.yaml"